---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css';
---

<Layout title='Workit landing page.'>
  <header
    class='flex items-center justify-between bg-[#24053E] px-4 pb-16 pt-8 md:px-[2.44rem] md:pb-14 lg:px-[10.31rem] lg:pb-[3.44rem] lg:pt-14'
  >
    <img src='/public/images/images/logo-light.svg' alt='logo' class='' />
    <a
      href='/'
      class='relative cursor-pointer font-Manrope text-base font-bold leading-8 tracking-[-0.01rem] text-white after:absolute after:bottom-0 after:left-0 after:h-[0.1875rem] after:w-[100%] after:bg-[#44FFA1] hover:text-[#44FFA1] lg:text-lg lg:tracking-[-0.01125rem]'
      >Apply for access</a
    >
  </header>
  <main>
    <section
      class='heroWrapper lg:bg-hero-desktop bg-hero-mobile md:bg-hero-tablet flex flex-col items-center justify-center bg-cover bg-no-repeat pb-72 pl-4 pr-[1.02rem] text-center md:pb-[22rem] lg:pb-[30rem]'
    >
      <div
        class='flex flex-col items-center justify-center gap-10 text-center md:gap-[2.44rem] lg:gap-[2.31rem]'
      >
        <h1
          class='w-[23.4375rem] font-Fraunces text-[3.125rem] font-semibold leading-[3.125rem] text-white md:w-[34.8125rem] md:text-[3.75rem] md:leading-[3.75rem] lg:w-[39.6875rem] lg:text-[5rem] lg:leading-[5rem]'
        >
          Data <span
            class='relative after:absolute after:bottom-0 after:left-0 after:h-[0.1875rem] after:w-[100%] after:bg-[#44FFA1]'
            >tailored</span
          > to your needs.
        </h1>
        <a
          href='/'
          class='flex h-[3.4375rem] w-[8.3125rem] cursor-pointer items-center justify-center bg-[#44FFA1] font-Manrope text-base font-bold leading-8 tracking-[-0.01rem] text-[#24053E] lg:h-[3.8125rem] lg:w-[10.0625rem] lg:text-lg'
          >Learn more</a
        >
      </div>
      <div class="">
        <img src="/public/images/images/" alt="" class="">
      </div>
    </section>

    <section
      class='flex flex-col items-center justify-center gap-10 bg-[#FCF8FF] pb-[4.48rem] pl-4 pr-[1.02rem] pt-[10.44rem] md:gap-12 md:pb-[6.48rem] md:pl-[6.06] md:pr-[6.13rem] md:pt-[12.74rem] lg:flex-row lg:items-center lg:gap-[1.63rem] lg:px-[10.31rem] lg:pb-[10.69rem] lg:pt-[16.99rem]'
    >
      <div
        class='flex flex-col items-center justify-center gap-[1.81rem] text-center md:flex-row md:items-center md:justify-start md:gap-8 md:text-left lg:flex-col lg:items-center lg:justify-center lg:gap-16 lg:text-center'
      >
        <h2
          class='flex h-[2.875rem] w-12 items-center justify-center rounded-full border border-solid border-[#584D62] font-Fraunces text-xl font-semibold leading-9 text-[#24053E] lg:size-14 lg:text-2xl lg:leading-10'
        >
          1
        </h2>
        <div class='flex flex-col gap-4 md:gap-4 lg:gap-7'>
          <h3
            class='font-Fraunces text-[1.75rem] font-semibold leading-9 text-[#24053E] lg:text-[2rem] lg:leading-10'
          >
            Actionable insights
          </h3>
          <p
            class='w-[21.4375rem] font-Manrope text-base font-normal leading-7 text-[#584D62] md:w-[30.8125rem] lg:w-[22.125rem] lg:text-lg lg:leading-8'
          >
            Optimize your products, improve customer satisfaction and stay ahead
            of the competition with our product data analytics.
          </p>
        </div>
      </div>

      <div
        class='flex flex-col items-center justify-center gap-[1.81rem] text-center md:flex-row md:items-center md:justify-start md:gap-8 md:text-left lg:flex-col lg:items-center lg:justify-center lg:gap-16 lg:text-center'
      >
        <h2
          class='flex h-[2.875rem] w-12 items-center justify-center rounded-full border border-solid border-[#584D62] font-Fraunces text-xl font-semibold leading-9 text-[#24053E] lg:size-14 lg:text-2xl lg:leading-10'
        >
          2
        </h2>
        <div class='flex flex-col gap-4 md:gap-4 lg:gap-7'>
          <h3
            class='font-Fraunces text-[1.75rem] font-semibold leading-9 text-[#24053E] lg:text-[2rem] lg:leading-10'
          >
            Data-driven decisions
          </h3>
          <p
            class='w-[21.4375rem] font-Manrope text-base font-normal leading-7 text-[#584D62] md:w-[30.8125rem] lg:w-[22.125rem] lg:text-lg lg:leading-8'
          >
            Make data-driven decisions with our product data analytics. Our
            AI-generated reports help you unlock insights hidden in your product
            data.
          </p>
        </div>
      </div>
      <div
        class='flex flex-col items-center justify-center gap-[1.81rem] text-center md:flex-row md:items-center md:justify-start md:gap-8 md:text-left lg:flex-col lg:items-center lg:justify-center lg:gap-16 lg:text-center'
      >
        <h2
          class='flex h-[2.875rem] w-12 items-center justify-center rounded-full border border-solid border-[#584D62] font-Fraunces text-xl font-semibold leading-9 text-[#24053E] lg:size-14 lg:text-2xl lg:leading-10'
        >
          3
        </h2>
        <div class='flex flex-col gap-4 md:gap-4 lg:gap-7'>
          <h3
            class='font-Fraunces text-[1.75rem] font-semibold leading-9 text-[#24053E] lg:text-[2rem] lg:leading-10'
          >
            Always affordable
          </h3>
          <p
            class='w-[21.4375rem] font-Manrope text-base font-normal leading-7 text-[#584D62] md:w-[30.8125rem] lg:w-[22.125rem] lg:text-lg lg:leading-8'
          >
            Always affordable pricing that scales with your business. Get
            top-quality product data analytics services without hidden costs or
            unexpected fees.
          </p>
        </div>
      </div>
    </section>

    <section class=''>
      <div class=''>
        <h2 class=''>Be the first to test</h2>
        <p class=''>
          Hi, I'm Louis Graham, the founder of the company. Book a demo call
          with me to become a beta tester for our app and kickstart your
          company. Apply for access below and I&#39;ll be in touch to schedule a
          call.
        </p>
        <a href='' class=''>Apply for access</a>
      </div>
    </section>
  </main>
  <footer class='flex flex-col items-center justify-center gap-12'>
    <div class=''>
      <img src='/public/images/images/logo-dark.svg' alt='' class='' />
    </div>
    <!-- Social Media Links -->
    <div class='flex items-center justify-center gap-8'>
      <!-- Facebook -->
      <div class=''>
        <a href='/' class='cursor-pointer' aria-label='Facebook'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='20'
            height='20'
            viewBox='0 0 20 20'
          >
            <path
              fill='#584D62'
              class='transition-colors duration-300 ease-in-out hover:fill-[#24053E]'
              d='M18.896 0H1.104C.494 0 0 .494 0 1.104v17.793C0 19.506.494 20 1.104 20h9.58v-7.745H8.076V9.237h2.606V7.01c0-2.583 1.578-3.99 3.883-3.99 1.104 0 2.052.082 2.329.119v2.7h-1.598c-1.254 0-1.496.597-1.496 1.47v1.928h2.989l-.39 3.018h-2.6V20h5.098c.608 0 1.102-.494 1.102-1.104V1.104C20 .494 19.506 0 18.896 0Z'
            ></path>
          </svg>
        </a>
      </div>
      <!-- Twitter -->
      <div class=''>
        <a href='/' class='cursor-pointer' aria-label='Twitter'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='20'
            height='17'
            viewBox='0 0 20 17'
          >
            <path
              fill='#584D62'
              class='transition-colors duration-300 ease-in-out hover:fill-[#24053E]'
              d='M20 2.172a8.192 8.192 0 0 1-2.357.646 4.11 4.11 0 0 0 1.805-2.27 8.22 8.22 0 0 1-2.606.996A4.096 4.096 0 0 0 13.847.248c-2.65 0-4.596 2.472-3.998 5.037A11.648 11.648 0 0 1 1.392 1a4.109 4.109 0 0 0 1.27 5.478 4.086 4.086 0 0 1-1.858-.513c-.045 1.9 1.318 3.679 3.291 4.075a4.113 4.113 0 0 1-1.853.07 4.106 4.106 0 0 0 3.833 2.849A8.25 8.25 0 0 1 0 14.658a11.616 11.616 0 0 0 6.29 1.843c7.618 0 11.923-6.434 11.663-12.205A8.354 8.354 0 0 0 20 2.172Z'
            ></path>
          </svg>
        </a>
      </div>
      <!-- Instagram -->
      <div class=''>
        <a href='/' class='cursor-pointer' aria-label='Instagram'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='20'
            height='20'
            viewBox='0 0 20 20'
          >
            <path
              fill='#584D62'
              class='transition-colors duration-300 ease-in-out hover:fill-[#24053E]'
              d='M10 1.802c2.67 0 2.987.01 4.042.059 2.71.123 3.975 1.409 4.099 4.099.048 1.054.057 1.37.057 4.04 0 2.672-.01 2.988-.057 4.042-.124 2.687-1.387 3.975-4.1 4.099-1.054.048-1.37.058-4.041.058-2.67 0-2.987-.01-4.04-.058-2.717-.124-3.977-1.416-4.1-4.1-.048-1.054-.058-1.37-.058-4.041 0-2.67.01-2.986.058-4.04.124-2.69 1.387-3.977 4.1-4.1 1.054-.048 1.37-.058 4.04-.058ZM10 0C7.284 0 6.944.012 5.877.06 2.246.227.227 2.242.061 5.877.01 6.944 0 7.284 0 10s.012 3.057.06 4.123c.167 3.632 2.182 5.65 5.817 5.817 1.067.048 1.407.06 4.123.06s3.057-.012 4.123-.06c3.629-.167 5.652-2.182 5.816-5.817.05-1.066.061-1.407.061-4.123s-.012-3.056-.06-4.122C19.777 2.249 17.76.228 14.124.06 13.057.01 12.716 0 10 0Zm0 4.865a5.135 5.135 0 1 0 0 10.27 5.135 5.135 0 0 0 0-10.27Zm0 8.468a3.333 3.333 0 1 1 0-6.666 3.333 3.333 0 0 1 0 6.666Zm5.338-9.87a1.2 1.2 0 1 0 0 2.4 1.2 1.2 0 0 0 0-2.4Z'
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </footer>
</Layout>

<style is:global>
  /* .heroWrapper {
    background-image: url('/public/images/images/bg-hero-desktop.svg');
    background-size: cover;
  } */

  /* .heroWrapper {
    @media screen and (min-width: 370px) {
      background-image: url('/public/images/images/bg-hero-mobile.svg');
      background-size: cover;
    }
  } */

  /* .heroWrapper {
    @media screen and (min-width: 768px) {
      background-image: url('/public/images/images/bg-hero-desktop.svg');
      background-size: cover;
    }
  } */
</style>
