---
interface Props {
  title?: string;
  description?: string;
}

const {
  title = 'Frontend Mentor | Workit landing page',
  description = 'Frontend Mentor | Workit landing page',
} = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <meta name='viewport' content='width=device-width' />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/images/images/favicon-32x32.png'
    />
    <meta name='generator' content={Astro.generator} />
    <!-- Google Fonts "Fraunces & Manrope" -->
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Manrope:wght@200..800&display=swap'
      rel='stylesheet'
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
  }

  html {
    hanging-punctuation: first last;
  }

  body {
    min-height: 100svh;
  }

  img,
  picture,
  svg,
  video {
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }

  @media (prefers-reduced-motion: no-preference) {
    :has(:target) {
      scroll-behavior: smooth;
      scroll-padding-top: 3rem;
    }
  }
</style>
